<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="angular.js"></script>
    <script src="likes.js"></script>
    <title>Likes</title>
</head>

<body ng-app="mymodule">
    <div ng-controller="likecontroller">
        <div>
            <center>
                <table border="2">
                    <tr>
                        <th>PostName</th>


                    </tr>
                    <tr ng-repeat="p in posts">
                        <td>{{ p.pname }}<br><button ng-click="incrementlike(p)"><i
                                    class="fa fa-thumbs-up"></i></button>{{ p.likes }}
                            <button ng-click="incrementdislike(p)"><i class="fa fa-thumbs-down"></i></button>
                            </button>{{ p.dislikes }}

                    </tr>
                </table>
            </center>
        </div>
    </div>
</body>

</html>